/* ------------------------------------ GENERAL */

.container-fluid {
	background-image: url("../images/rogue-one-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #0d2e41;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #0d2e41;
}

.container {
	margin: 50px;
	width: 100%;
	padding: 0px 30px 15px 30px;
	background-color: #ffffff;
	border-radius: 25px;
}

div#instructions, div#battle {
	margin-bottom: 10px;
	padding: 30px;
	border-radius: 15px;
	border: 1px solid #a08066;
}

div#allies, div#enemies {
	margin-bottom: 10px;
	padding: 30px 30px 0px 30px;
	border-radius: 15px;
	border: 1px solid #a08066;
}

div#good, div#evil {
	margin-bottom: 10px;
	padding: 5px 30px 5px 30px;
	border-radius: 15px;
	background-color: #a08066;
	color: #ffffff;
}

div#versus {
	margin-bottom: 10px;
	padding: 0px 20px 20px 20px;
	border-radius: 15px;
	border: 1px solid #a08066;
}

button {
	margin: 0px auto 10px auto;
	padding: 10px 20px;
	background-color: #0d2e41;
	border-radius: 15px;
	border: none;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
}

button:hover {
	background-color: #a08066;
}

div#result {
	margin-bottom: 10px;
	padding: 20px;
	background-color: #0d2e41;
	border-radius: 15px;
	color: #ffffff;
}

/* ------------------------------------ IMAGES */

img.img-responsive {
	width: 100%;
}

img.charpic {
	border-radius: 15px;
	border: 1px solid #ffffff;
}

@keyframes example {
	from {filter: grayscale(0%);}
	to {filter: grayscale(100%); opacity: 0.75;}
}

img.charpic:hover {
	animation-name: example;
	animation-duration: 2.5s;
}

img#headerimage {
	display: none;
}

img.clicked {
	filter: grayscale(100%);
	border: 1px solid #a08066;
	animation: none !important;
}

/* ------------------------------------ HEADERS AND TEXT */

h1 {
	margin-top: 0px;
	padding: 15px;
	border-radius: 15px;
	background-color: #a08066;
	font-family: "Spectral SC", serif;
	font-size: 50px;
	color: #ffffff;
	text-align: center;
}

h1.wintext {
	background-color: #0d2e41;
	color: #ffffff;
}

span.littleh1 {
	font-size: 25px;
}

h2 {
	margin-top: 0px;
	font-family: "Spectral SC", serif;
	font-size: 30px;
	color: #0d2e41;
}

h3 {
	margin-bottom: 25px;
	padding: 10px;
	font-family: "Spectral SC", serif;
	font-size: 25px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 10px;
	color: #a08066;
}

h4 {
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	color: #0d2e41;
}

p {
	margin-bottom: 15px;
}

p#disclaimer {
	padding: 15px;
	border-radius: 15px;
	background-color: #a08066;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
}

p.chartext {
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: "Spectral SC", serif;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
}

p.stats {
	margin-top: -10px;
}

/* ------------------------------------ MEDIA QUERIES */

/* large devices <1200px */
@media (max-width: 1199px) { 
	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 25px;
	}

	h1.wintext {
		font-size: 40px;
	}

	span.littleh1 {
		font-size: 20px;
	}
}

/* medium devices <992px */
@media (max-width: 991px) { 
	.container {
		margin: auto;
	}

	img#headerimage {
		display: block;
		opacity: 0;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 30px;
	}
}

/* small devices <768px */
@media (max-width: 767px) { 
	h1.wintext {
		font-size: 30px;
	}
}

/* tiny devices < 576px */
@media (max-width: 575px) { 
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 20px;
	}

	h1.wintext {
		font-size: 25px;
	}

	span.littleh1 {
		font-size: 18px;
	}

	p.chartext {
		font-size: 18px;
	}
}